<div class="field">
  <div class="control">
    <%= form.text_field :email, type: 'email', placeholder: "Email", class: "input is-medium" %>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.password_field :password, type: 'password', placeholder: "Password", class: "input is-medium" %>
  </div>
</div>
